:root {
  --primary: #1b50d9;
  --secondary: #ff1e1e;
  --text-gradient-color: #1b9dd9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.about {
  position: relative;
}

.heading {
  font-family: "Unbounded", sans-serif;
}

#mobile-nav {
  height: fit-content;
}

#hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#hamburger.active span:nth-child(2) {
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#mobile-nav.active {
  transform: translateX(0);
}

header {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  --webkit-backdrop-filter: blur(50px);
}

.agent-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  background: radial-gradient(
    119.26% 78.46% at 50% 0%,
    #ff1e1e 0%,
    #890505 100%
  );
  transition: all 0.3s ease-in-out;
}

.agent-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px 0px rgba(255, 0, 0, 0.5);
}

.text-blue-gradient {
  background: linear-gradient(90deg, var(--text-gradient-color), #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-red-gradient {
  background: linear-gradient(90deg, var(--secondary) 15%, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-light-elem {
  position: absolute;
  width: 881px;
  height: 881px;
  border-radius: 881px;
  background: var(--primary);
  filter: blur(350px);
  z-index: -1;
}

.hero {
  position: relative;
  width: 100%;
}

#hero .background-light-elem {
  left: -590px;
  top: -590px;
}

#about .background-light-elem {
  left: 95%;
}

#requirements .background-light-elem {
  right: 90%;
  top: -20%;
  filter: blur(240px);
  width: 656px;
  height: 656px;
  border-radius: 656px;
}

.background-light-elem--left {
  right: 90%;
  filter: blur(240px);
  width: 656px;
  height: 656px;
  border-radius: 656px;
}

#steps .background-light-elem--right {
  top: -20%;
  left: 100%;
}

#steps .background-light-elem--left {
  top: 55%;
}

#how-it-works .background-light-elem--right {
  top: 70%;
  left: 90%;
}

#attention .background-light-elem--left {
  top: -35%;
}

#contact .background-light-elem {
  bottom: 0;
  left: 100%;

}




@media screen and (max-width: 450px) {
  .background-light-elem, .background-light-elem--left {
      scale: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .background-light-elem, .background-light-elem--left {
      scale: 0.8;
  }
}



.img-container {
  height: auto;
  /* overflow: hidden; */
}

.img-container:after {
  content: "";
  background: linear-gradient(180deg, #000307 0%, rgba(0, 3, 7, 0) 100%);
  position: absolute;
  top: 150px;
  right: 0%;
  width: 1800px;
  height: 361px;
  flex-shrink: 0;
  z-index: 0;
  display: block;
}


.header-elem {
  position: absolute;
  top: 60px;
  right: -300px;
  background-color: #000307;
  height: 102px;
  width: 1000px;
  z-index: 10;
}

.elem0,
.elem1 {
  position: absolute;
  background: radial-gradient(#fff 10%, transparent 60%);
}

.elem1 {
  width: 3px;
  height: 100%;
  left: 50%;
  top: 0;
}

.elem0 {
  height: 3px;
  width: 100%;
  left: 0;
  top: 46%;
}

/* REquiremnets */

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #000307;
  width: 550px;
  min-height: 171px;
  max-height: 171px;
  padding: 15px 50px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.card::before {
  content: "";
  position: absolute;
  width: 339px;
  height: 339px;
  border-radius: 339px;
  background: var(--primary);
  filter: blur(100px);
  left: -60%;
  top: 50%;
  z-index: 1;
}

.card::after {
  content: "";
  position: absolute;
  width: 339px;
  height: 339px;
  border-radius: 339px;
  background: var(--primary);
  filter: blur(100px);
  right: -40%;
  top: -140%;
  z-index: 1;
}

.numbers {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 1;
}

.numbers-mobile {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  height: 120px;
}

@media screen and (max-width: 450px) {
  .card::after,
  .card::before {
    scale: 0.6;
  }
  .card::after {
    top: -30%;
  }
}

@media screen and (max-width: 600px) {
  .card::before {
    left: -50%;
  }
  .card::after {
    right: -50%;
  }
}

@media screen and (max-width: 991px) {
  .card::before {
    left: -40%;
  }
  .card::after {
    right: -40%;
  }
}

/* STEPS */

.steps__list {
  display: grid;
  grid-template-areas:
    "A img"
    "B img"
    "C img"
    "C D"
    "E D"
    "E F"
    "E F";
  row-gap: 42px;
  column-gap: 10%;
  grid-template-columns: repeat(2, 45%);
  position: relative;
}

.steps__list::after,
.steps__list::before {
  content: "";
  position: absolute;
  height: calc(100% + 30px);
  width: 3px;
  background-color: #0044f2;
  margin-inline: auto;
  inset: auto 0;
  top: -15px;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: -1;
}

.steps__card {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  padding: 25px 30px;
  border-radius: 20px;
  border: 2px solid var(--secondary);
  background: #000307;
  position: relative;
  box-shadow: 0 0 20px #e6352b;
  transition: all 250ms ease-in-out;
}

.steps__card:hover {
  box-shadow: 0 0 35px #e6352b;
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.description {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.steps__card:nth-child(1) {
  grid-area: A;
}

.steps__card:nth-child(2) {
  grid-area: B;
}

.steps__card:nth-child(3) {
  grid-area: C;
}

.steps__card:nth-child(4) {
  grid-area: D;
}

.steps__card:nth-child(5) {
  grid-area: F;
}

.steps__card:nth-child(6) {
  grid-area: E;
}

.steps__card:nth-child(4) .card__number,
.steps__card:nth-child(5) .card__number {
  left: unset;
  right: 107%;
}

.steps__card:nth-child(4) .card__number::after,
.steps__card:nth-child(5) .card__number::after {
  left: unset;
  right: -40px;
}

.steps__card:nth-child(6) .card__number {
  top: unset;
  bottom: 10px;
}

.steps__image {
  grid-area: img;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.steps__card .card__number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 107%;
  top: 10px;
  background: var(--secondary);
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  color: #fff;
  font-family: "Unbounded", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
}

.steps__card .card__number::after {
  content: "";
  position: absolute;
  left: -40px;
  top: auto;
  width: 44px;
  height: 2px;
  z-index: -1;
  background-color: #e6352b;
}

.steps__card .card__head {
  display: inline-flex;
  align-items: center;
  column-gap: 18px;
  position: relative;
  margin-block-end: 30px;
}

.steps__card .card__head::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 1px;
  width: 80%;
  background-image: radial-gradient(#fff 10%, transparent 60%);
}

.card__body {
  color: #fff;
}

@media (max-width: 1023px) {
  .img-container:after {
    display: hidden;
  }
  .img-container:before {
    display: hidden;
  }
  .card {
    width: 100%;
    min-height: 80px;
    height: fit-content;
    max-height: 250px;
    padding-block: 20px;
    padding-inline: 65px 30px;
  }
  .img-container {
    display: none; /* Hide image on smaller screens */
  }
}

@media screen and (max-width: 680px) {
  .steps__list {
    display: flex;
    flex-direction: column;
  }
  .steps__list::after,
  .steps__list::before {
    margin-inline: unset;
    left: calc(90% + 36px);
  }

  .steps__card {
    max-width: 90%;
  }

  .steps__card .card__head {
    margin-block-end: 20px;
  }

  .steps__card:nth-child(4) .card__number,
  .steps__card:nth-child(6) .card__number {
    top: 10px;
  }
  .steps__card:nth-child(4) .card__number,
  .steps__card:nth-child(5) .card__number {
    right: unset;
    left: calc(100% + 15px);
  }

  .steps__card:nth-child(4) .card__number::after,
  .steps__card:nth-child(5) .card__number::after {
    right: unset;
    left: -40px;
  }

  .steps__image {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .steps__list {
    row-gap: 25px;
    column-gap: 80px;
  }
  .steps__card {
    padding: 15px 20px;
  }

  .steps__card .card__number {
    left: calc(100% + 15px);
  }

  .steps__card .card__head {
    gap: 10px;
  }

  .steps__card:nth-child(4) .card__number,
  .steps__card:nth-child(5) .card__number {
    right: calc(100% + 15px);
  }
}

@media screen and (max-width: 450px) {
  .steps__list::after,
  .steps__list::before {
    left: calc(90% + 27px);
  }

  .steps__card .card__number {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .description {
    font-size: 14px;
  }
}

/* Steps End */

/* HOW IT WORKS */

.howitworks__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  margin-top: 20px;
}

.transaction-type--deposits {
  --cards-bg-color: var(--primary);
  --cards-box-shadow-color: rgba(0, 2, 45, 0.5);
}

.transaction-type--withdrawals {
  --cards-bg-color: var(--secondary);
  --cards-box-shadow-color: rgba(45, 0, 0, 0.5);
}

.howitworks__bg-circle.howitworks__circle--blue {
  top: 65%;
  left: -110px;
  z-index: 1;
}

.howitworks__bg-circle {
  position: absolute;
}

.transaction-type__title {
  font-family: "Unbounded", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  margin-block-end: 38px;
}

.transaction__stages {
  display: grid;
  grid-template-columns: 1fr;
}

.transaction__stages .stage__item:nth-child(1) {
  z-index: 4;
}

.transaction__stages .stage__item:nth-child(2) {
  z-index: 3;
}

.transaction__stages .stage__item:nth-child(3) {
  z-index: 2;
}

.transaction__stages .stage__item:nth-child(4) {
  z-index: 1;
}

.transaction__stages .stage__item {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 82px;
  background: #000307;
  box-shadow: 0px 5px 15px 0px rgba(0, 2, 45, 0.5);
  width: 640px;
  height: 123px;
  position: relative;
  overflow: hidden;
}

.transaction__stages .stage__item::before {
  left: -40%;
  top: 40%;
}

.transaction__stages .stage__item::after {
  right: -40%;
  top: -220%;
}

.transaction__stages .stage__item::before,
.transaction__stages .stage__item::after {
  content: "";
  position: absolute;
  width: 339px;
  height: 339px;
  border-radius: 339px;
  background: var(--primary);
  filter: blur(100px);
}

.stage__number {
  padding-block-start: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.stage__number img {
  position: absolute;
  z-index: 4;
  height: 200px;
}

.transaction__stages .stage__item .description {
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-inline-end: 40px;
  z-index: 5;
}

.transaction__stages .stage__item:not(:first-child) {
  margin-block-start: -20px;
}

.howitworks__bg-circle.howitworks__circle--red {
  top: 0%;
  right: -80px;
  z-index: -1;
}

.transaction-type__title {
  font-family: "Unbounded", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  margin-block-end: 38px;
}

.transaction__stages .stage__item::before,
.transaction__stages .stage__item::after {
  content: "";
  position: absolute;
  width: 339px;
  height: 339px;
  border-radius: 339px;
  background: var(--cards-bg-color);
  filter: blur(100px);
}

@media screen and (max-width: 680px) {
  .howitworks__inner {
    grid-template-columns: 1fr;
  }
  .howitworks__bg-circle {
    display: none;
  }
  .transaction__stages .stage__item::before {
    top: 40%;
    left: -40%;
  }
  .transaction__stages .stage__item::after {
    top: -100%;
    right: -60%;
  }
}

@media screen and (max-width: 768px) {
  .howitworks__inner {
    gap: 15px;
  }
  .howitworks__bg-circle.howitworks__circle--blue {
    top: 40%;
  }
  .transaction-type__title,
  .section__title {
    margin-block-end: 20px;
  }
  .transaction__stages .stage__item {
    grid-template-columns: 60px 1fr;
    height: auto;
    min-height: 100px;
  }
  .transaction__stages .stage__item::before {
    left: -80%;
    top: 60%;
  }
  .transaction__stages .stage__item::after {
    right: -100%;
    top: -150%;
  }
  .transaction__stages .stage__item .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .howitworks__bg-circle.howitworks__circle--blue {
    top: 55%;
  }
  .transaction__stages .stage__item::before {
    left: -60%;
  }
  .transaction__stages .stage__item::after {
    right: -60%;
  }
  .transaction__stages .stage__item .description {
    padding-inline-end: 0;
  }
  .description {
    font-size: 16px;
  }
  .stage__number img {
    height: 150px;
    max-width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .transaction__stages .stage__item {
    display: flex;
  }
  .transaction__stages .stage__item::after {
    top: -200%;
    right: -100%;
  }
  .description {
    font-size: 14px;
  }
  .stage__number {
    width: 35%;
  }

  .stage__number img {
    height: 130px;
    max-width: 200px;
  }
}

@media screen and (max-width: 1300px) {
  .stage__number {
    padding-inline: 10px;
  }
  .description {
    font-size: 18px;
  }
  .transaction__stages .stage__item {
    width: auto;
    grid-template-columns: 80px 1fr;
    gap: 10px;
  }
}

/* ADVANTAGES */

#advantages .container {
  display: grid;
  grid-template-columns: 1fr 640px;
  gap: 75px;
  padding-top: 135px;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
}

.title {
  font-family: "Unbounded", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #fff;
}

#advantages .section__title {
  margin-block-end: 40px;
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.advantage__card {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--secondary);
  background: #000307;
  transition: all 250ms ease-in-out;
}

.advantage__card:hover,
.attention__card:hover {
  box-shadow: 0 0 15px var(--secondary);
}

.advantage__head {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-block-end: 15px;
}

.advantage__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}

.advantage__text {
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .advantages__left-img,
  .contact__form-bg {
    display: none;
  }
  .transaction-type__title,
  .section__title {
    margin-block-end: 20px;
  }
  #advantages .container {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 5%;
  }
}

@media screen and (max-width: 991px) {
  .advantages__cards {
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .description {
    font-size: 16px;
  }
}

/* ATTENTION */

.attention__card {
  grid-template-columns: 820px 1fr;
  padding: 50px 60px;
  border-radius: 40px;
  border: 1px solid var(--secondary);
  background: #000307;
  box-shadow: 0px 10px 40px 0px rgba(0, 4, 24, 0.5);
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
  align-items: center;
  overflow: hidden;
  transition: all 250ms ease-in-out;
}

.attention__card::before {
  content: "";
  position: absolute;
  width: 339px;
  height: 339px;
  border-radius: 339px;
  top: -34%;
  left: 83%;
  background: var(--secondary);
  filter: blur(135px);
  pointer-events: none;
}

p.description:not(:last-child) {
  margin-block-end: 28px;
}

.attention__title {
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  transform: rotate(32.031deg);
  position: relative;
}

.background-light-attention {
  left: -590px;
  top: -590px;
  position: absolute;
  width: 881px;
  height: 881px;
  border-radius: 881px;
  background: var(--primary);
  filter: blur(350px);
  z-index: -1;
}

@media screen and (max-width: 450px) {

  .attention__title {
    font-size: 42px !important;
  }
}

@media screen and (max-width: 1300px) {
  .attention__title {
    transform: rotate(0);
    line-height: 100%;
    font-size: 64px;
    margin-block-end: 10px;
  }
  .attention__card {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 40px;
  }
}

/* Contact */

.contacts__form {
  border-radius: 20px;
  background: #000307;
  padding: 40px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(2px);
  max-width: 750px;
  position: relative;
  margin-inline-start: 110px;
  z-index: 5;
}

.contacts__form::before {
  content: '';
  border-radius: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-image: linear-gradient(135deg, #FFFFFF, #FFFFFF2B);
  z-index: -2;
}

.contacts__form::after {
  content: '';
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000307;
  z-index: -1;
}

.contact__form-bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 58.5%;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.contacts__form-bg-img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.contacts__form-face-img {
  position: absolute;
  top: 0;
  z-index: 10;
}


.contacts__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contacts__form form .wpcf7-form-control-wrap {
  width: 100%;
}

.contacts__form form input[type="text"], .contacts__form form input[type="email"], .contacts__form form input[type="tel"] {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #ADADAD;
  outline: none;
  background-color: transparent;
  padding: 10px 30px;
  width: 100%;
  transition: border-color 500ms ease;
}

.contacts__form .checkbox {
  cursor: pointer;
  margin-block: 15px;
  font-family: Montserrat;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.contacts__form .checkbox:has(input:checked) svg {
  --dark-gradient: #890505;
  --light-gradient: var(--main-red-color);
}

.contacts__form form .submit-btn {
  border: none;
  border-radius: 50px;
  box-shadow: 0px 15px 20px 0px rgba(86, 0, 0, 0.20);
  width: 50%;
  font-family:'Unbounded',sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: all 250ms ease;
}


@media screen and (max-width: 768px) {
  .advantages__left-img, .contact__form-bg {
    display: none;
}

}

@media screen and (max-width: 600px) {
  .contacts__form {
      padding: 20px;
  }
  .contacts__form .description {
    font-size: 16px;
}
}

@media screen and (max-width: 1300px) {
  .contacts__form {
      margin-inline-start: 0;
  }
  p.description:not(:last-child) {
    margin-block-end: 15px;
}
}


/* Footer */

.footer {
  background: #010205;
  position: relative;
}


.footer::before {
  content: '';
  position: absolute;
  top: 0;
  margin-inline: auto;
  width: 100%;
  height: 1px;
  background-image: radial-gradient(#fff 10%, transparent 60%);
}

.footer__container {
  padding-block: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__logo-container {
  display: inline-flex;
}

.logo {
  position: relative;
  display: inline-flex;
  height: fit-content;
  transition: all 250ms ease-in-out;
}

.logo img {
  height: 42px;
  width: 185px;
}

.footer__text {
  max-width: 632px;
}

@media screen and (max-width: 768px) {
  .footer__container {
      flex-direction: column;
      align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .logo img {
      width: 175px;
      height: auto;
  }
}

@media screen and (max-width: 768px) {
  .footer__text .description {
      text-align: center;
      font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .footer__container {
      display: flex;
      justify-content: space-between;
      gap: 15px;
  }
}